h1 {
	text-align: center;
	padding-top: 5cm;
	padding-bottom: 4cm;
	font-size: 70px;
	color: white;
	font-weight: 900;
}

a:link {
	text-decoration: none;
	color: gray;
	position: relative;
	margin: 20px;
}

a:visited {
	text-decoration: none;
	color: gray;
}

a:hover {
	color: white;
	text-decoration: underline
}

body {
	background: black;
}

p {
	color: white;
	text-align: center;
}

p#first {
	color: gray;
	margin: 20px;
	text-align: center;
}

p#second {
	color: gray;
	margin: 20px;
	text-align: center;
}
