a:link {
	text-decoration: none;
	color: gray;
	position: relative;
	margin: 20px;
}

a:visited {
	text-decoration: none;
	color: gray;
}

a:hover {
	color: white;
	text-decoration: underline
}

body {
	/*background-color: black;*/
	background-image: url("Images/Nick_clark.jpg");
}

div {
	display: inline;
	border-style: solid;
}