h1 {
    font-family: "Lobster", cursive;
	text-align: center;
	padding-top: 5cm;
	padding-bottom: 4cm;
	font-size: 70px;
	color: #ACACAC;
	font-weight: 900;
    text-shadow: 4px 4px #3b0160;
}

p {
	color: white;
	text-align: center;
}

p#first {
	color: gray;
	margin: 20px;
	text-align: center;
}

p#second {
	color: gray;
	margin: 20px;
	text-align: center;
}

