a:link {
	font-family: "Raleway", serif;
	color: #A84CAD;
	position: relative;
	margin: 20px;
    text-decoration: none;
    text-shadow: 1px 1px #5F4B8B;
}

a:visited {
	text-decoration: none;
	color: #bf3eff;
}

a:hover {
	color: white;
	text-decoration: underline;
}

a#currentPage {
    font-style: italic;
    text-decoration: underline;
}

body {
	background: black;
}
